<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="name">mqttcache</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%d{HH:mm:ss.SSS}][%highlight{%-5level}][%15.15t][%30.30logger] %msg%n" />
		</Console>
		<RollingFile name="File"
			fileName="${sys:meecrowave.base}/logs/${name}.log"
			filePattern="${sys:meecrowave.base}/logs/${name}-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout
				pattern="[%d{HH:mm:ss.SSS}][%-5level][%15.15t][%30.30logger] %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<logger name="mqttcache" level="info">
			<AppenderRef ref="File" />
		</logger>
		<Root level="warn">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>